.about {
  padding: 94px 0;

  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color: #212121;
    margin-bottom: 10px;
  }

  &__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71em;
    letter-spacing: 0.03em;
  }

  &__list {
    display: flex;
    gap: 30px;
  }

  &__item {
    width: 270px;
  }

  &__item::before {
    display: block;
    content: '';
    height: 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }

  &__item:nth-child(1)::before {
    background-image: url(../images/icons/edit-icon/antenna.svg);
  }

  &__item:nth-child(2)::before {
    background-image: url(../images/icons/edit-icon/clock.svg);
  }

  &__item:nth-child(3)::before {
    background-image: url(../images/icons/edit-icon/diagram.svg);
  }

  &__item:nth-child(4)::before {
    background-image: url(../images/icons/edit-icon/astronaut.svg);
  }
}
