.clients {
  padding: 94px 0;

  &-title {
    font-weight: 700;
    font-size: 33px;
    line-height: 1.18em;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
    text-align: center;
    margin-bottom: 50px;

    //   breakpoint  1200px for descktop screen
    @media screen and (min-width: 1200px) {
      font-size: 36px;
      line-height: 1.17em;
    }
  }
  &-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 30px;

    //   breakpoint  1200px for descktop screen
    @media screen and (min-width: 1200px) {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 30px;
    }
  }
  &-icon {
    fill: currentColor;
  }
}

.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 92px;
  background-color: var(--main-white);
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: var(--icons-color);
  transition: border-color $animation, color $animation;

  &:focus,
  &:hover {
    border-color: var(--accent-txt-cl);
    color: var(--accent-txt-cl);
  }
}
