/* Text specification */
.description {
  position: relative;
  display: block;
  padding: 20px 24px;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  background-color: #fff;

  &-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2em;
    letter-spacing: 0.06em;
    margin-bottom: 4px;
    color: #212121;
  }
  &-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.88em;
    letter-spacing: 0.03em;

    color: #757575;
  }
}

/* Boxes specification */
.portfolio {
  padding: 60px 0;
  //   breakpoint  1200px for descktop screen
  @media screen and (min-width: 1200px) {
    padding: 94px 0;
  }

  &-list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }
  &-link {
    position: relative;
    transition: box-shadow $animation;
  }
  &-item {
    display: list-item;
    max-width: 450px;

    border: 1px rgba(238, 238, 238, 1);

    //   breakpoint  768px for tablet screen
    @media screen and (min-width: 768px) {
      max-width: 354px;
    }

    //   breakpoint  1200px for descktop screen
    @media screen and (min-width: 1200px) {
      max-width: 370px;
    }
  }
}
/* Sadow */

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  transition: $animation;
}
