.specification {
   
  display: none;

//   breakpoint  1200px for descktop screen
@media screen and (min-width: 1200px) {
  display: block;

  padding-bottom: 94px;

  &-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17em;
    letter-spacing: 0.03em;

    color: #212121;

    text-align: center;
    margin-bottom: 50px;
  }

  &-list {
    display: flex;
    gap: 30px;
  }
  &-img {
    position: relative;
  }
  &-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14em;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--main-white);
    background: rgba(47, 48, 58, 0.8);

    display: flex;
    position: absolute;
    width: 370px;
    height: 70px;
    align-items: center;
    justify-content: center;
    left: 0;
    bottom: 0;
  }

  
}

}
