.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;

  &-text {
    position: absolute;
    color: var(--main-white);
    font-size: 18px;
    line-height: 1.56em;
    letter-spacing: 0.03em;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    opacity: 0;

    top: 0;
    left: 0;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
}

.portfolio-link:hover .portfolio-overlay-text,
.portfolio-link:focus .portfolio-overlay-text {
  transform: translateY(0);
  opacity: 1;
  overflow: hidden;
}
